:root{
  --offset: 0px;
}

:root, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

ul{
  padding: 0;
}

.bar{
  transform: translate3d(0,0,0);
}

.bars{
  --calculated-bar-height: calc(var(--bar-height)*1px);
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
}

#leftbars, #rightbars{
  margin: auto;
  transform-origin: center;
}

#leftbars{
  margin-left: 0;
  transform: rotate(calc(var(--bar-rotation) * 1deg));
}

#leftbars li{
  margin-right: auto;
}

.flipped #leftbars li{
  margin-right: 0;
  margin-left: auto;
}

#rightbars{
  margin-right: 0;
  transform: rotate(calc(var(--bar-rotation) * -1deg));
}

#rightbars li{
  margin-left: auto;
}

.flipped #rightbars li{
  margin-left: 0;
  margin-right: auto;
}

.bars li{
  --value-difference: calc(var(--value) - var(--other-value));
  --average-value-difference: calc(var(--average-value) - var(--other-average-value));
  --peak-value-difference: calc(var(--peak-value) - var(--other-peak-value));
  width: calc(var(--peak-value) * 2px);
  margin-top: calc(var(--offset) * 1px);
  height: calc(var(--calculated-bar-height));
  background: rgb(127,127,127);
  opacity: calc((var(--average-value-difference) / 500 + var(--peak-value)/1000));
  list-style: none;
  position: relative;
}

label{
  line-height: 1.25em;
}

label input, label select{
  display: block;
  width: 90%;
  margin: auto;
}

label input[type="checkbox"]{
  display: inline-block;
  width: auto;
}
